# ###############################
# Main config file for MkDocs.
# ###############################
#
# To run:
# mkdocs serve
# More help: https://www.holunda.io/camunda-bpm-taskpool/developer-guide/project-setup.html#build-documentation
# ###############################

site_name: Polyflow
site_url: https://www.holunda.io/camunda-bpm-taskpool/
site_author: Holisticon BPM Craftsman
site_description: >-
 Polyflow is an open-source framework for creation of process platform with one
 or multiple process engines (like Camunda BPM) providing a holistic enterprise-wide
 task pool and data entry pool.

copyright: Copyright &copy; 2016 - 2022, Holisticon AG

use_directory_urls: false

# Repository
repo_name: holunda-io/camunda-bpm-taskpool
repo_url: https://github.com/holunda-io/camunda-bpm-taskpool/
edit_uri: edit/develop/docs/

markdown_extensions:
    - attr_list
    - toc:
        permalink: "#"
    - pymdownx.highlight
    - pymdownx.superfences
    - pymdownx.details
    - admonition


theme:
  name: material
  features:
    - navigation.instant # When instant loading is enabled, clicks on all internal links will be intercepted and dispatched via XHR without fully reloading the page
    - navigation.tabs # add top level nav items into a horizoneal menu
    - navigation.tabs.sticky # make horizontal menu sticky (insider feature)
    - navigation.sections
    - navigation.top # add "navigate to top" page icon on bottom left
    - toc.integrate # integrate site TOC into the menu on the left
  logo: assets/img/logo-negative.svg
  icon:
    repo: fontawesome/brands/github
  font:
    text: Roboto
    code: Roboto Mono
  palette:
    - media: "(prefers-color-scheme: dark)"
      scheme: polyflow
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/weather-night
        name: Switch to dark mode

extra_css: [stylesheets/extra.css]

extra:
  social:
    - icon: fontawesome/brands/twitter
      name: Holisticon on Twitter
      link: https://twitter.com/holisticon
    - icon: fontawesome/brands/medium
      name: Holisticon BPM Craftsmen on Medium
      link: https://medium.com/holisticon-consultants/tagged/mpb
  version:
    provider: mike

plugins:
  - search
#  - git-committers:
#      repository: holunda-io/camunda-bpm-taskpool
#      branch: master
#      token: !!python/object/apply:os.getenv ["MKDOCS_GIT_COMMITTERS_APIKEY"]
  - mike:
      # these fields are all optional; the defaults are as below...
      version_selector: true   # set to false to leave out the version selector
      css_dir: css                    # the directory to put the version selector's CSS
      javascript_dir: js            # the directory to put the version selector's JS
      canonical_version: null  # the version for <link rel="canonical">; `null`
                                            # uses the version specified via `mike deploy`
  - git-revision-date-localized:
      type: date
      fallback_to_build_date: true

nav:
  - Home: index.md
  - Introduction:
    - Motivation and Goal: introduction/index.md
    - Concepts: introduction/concepts.md
    - Features: introduction/features.md
    - Solution Architecture: introduction/solution-architecture.md
    - Deployment Strategies: introduction/deployment.md
  - Getting Started: getting-started/index.md
  - Reference:
    - Reference Overview: reference-guide/index.md
    - Component Overview: reference-guide/components/index.md
    - Integration Components:
      - Camunda BPM Engine Interaction Client: reference-guide/components/camunda-interaction-client.md
      - Camunda BPM Engine Taskpool Collector: reference-guide/components/camunda-taskpool-collector.md
      - Camunda BPM Engine Taskpool SpringBoot Starter: reference-guide/components/camunda-starter.md
      - Taskpool Sender: reference-guide/components/common-taskpool-sender.md
      - Datapool Sender: reference-guide/components/common-datapool-sender.md
    - Core Components:
      - Taskpool Core: reference-guide/components/core-taskpool.md
      - Datapool Core: reference-guide/components/core-datapool.md
    - View Components:
      - In-Memory View: reference-guide/components/view-simple.md
      - JPA View: reference-guide/components/view-jpa.md
      - Mongo DB View: reference-guide/components/view-mongo.md
      - Form URL Resolver: reference-guide/components/view-form-url-resolver.md
      - View-API: reference-guide/components/view-api.md
    - Other Components:
      - Tasklist URL Resolver: reference-guide/components/other-tasklist-url-resolver.md
      - Variable Serializer: reference-guide/components/other-variable-serializer.md
      - Bus Jackson: reference-guide/components/other-bus-jackson.md
    - Configuration Overview: reference-guide/configuration/index.md
    - Persistence Configuration: reference-guide/configuration/persistence.md
  - Examples:
    - Examples Overview: examples/index.md
    - Example Approval: examples/example-approval.md
    - Example Components:
      - Example Components Overview: examples/example-components/index.md
      - Process Application Frontend: examples/example-components/pa-frontend.md
      - Process Application Backend: examples/example-components/pa-backend.md
      - User Management: examples/example-components/user-management.md
      - Process Platform Frontend: examples/example-components/pp-frontend.md
      - Process Platform Backend: examples/example-components/pp-backend.md
    - Distribution Scenarios:
      - Scenarios Overview: examples/scenarios/index.md
      - Single Node: examples/scenarios/single-node.md
      - Distributed using Axon Server: examples/scenarios/distributed-axon-server.md
  - Developers:
    - Contribution: developer-guide/contribution.md
    - Project Setup: developer-guide/project-setup.md
