<persistence xmlns="http://xmlns.jcp.org/xml/ns/persistence" version="2.1">
  <persistence-unit name="default">
    <class>io.holunda.polyflow.view.jpa.data.DataEntryEntity</class>
    <class>io.holunda.polyflow.view.jpa.data.ProtocolElement</class>
    <class>io.holunda.polyflow.view.jpa.process.ProcessDefinitionEntity</class>
    <class>io.holunda.polyflow.view.jpa.process.ProcessInstanceEntity</class>
    <class>io.holunda.polyflow.view.jpa.task.TaskEntity</class>
  </persistence-unit>
</persistence>
