<div class="row">
  <div class="col-lg-12">
    <h1><img src="assets/holunda-io-logo.png" title="Tasks events">Task events</h1>
    <p>A list of task events in Camunda BPM Taskpool. Currently serving {{ (task$ | async).length }} tasks.</p>
  </div>
</div>
&nbsp;
<div class="row">

  <div class="col-lg-6">
    <div class="list-group scrolling-list">
      <div class="list-group-item" *ngFor="let task of (task$ | async)">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
                {{ task.id }}
            </div>
            <div class="col-lg-4">
                {{ task.created | date: 'yyyy-MM-dd HH:mm:ss.SSS' }}
            </div>
            <div class="col-lg-2">
              <button type="button" name="show" class="btn btn-outline-secondary btn-sm" (click)="show(task.id)" title="Show Events"><i class="fa fa-search"></i></button>
              <button *ngIf="task.deletable" type="button" name="delete" class="btn btn-outline-secondary btn-sm" (click)="deleteTask(task.id)" title="Delete"><i class="fa fa-trash"></i></button>
            </div>
          </div>
        </div>
      </div>
      <div class="list-group-item" *ngIf="(task$ | async).length === 0">
        <span>No events.</span>
      </div>
    </div>
  </div>

  <div class="col-lg-6 scrolling-list">
    <div *ngFor="let event of (currentTaskEvent$ | async)">
      <div class="list-group">
        <div class="list-group-item" [ngClass]="class(event)">
          <div class="row">
            <div class="col-lg-1">{{ event.eventType }}</div>
            <div class="col-lg-3">{{ event.created | date: 'yyyy-MM-dd HH:mm:ss.SSS' }}</div>
            <div class="col-lg-8 data-block">
              <ul class="list-group list-group-flush fieldlist">
                <li class="list-group-item" *ngFor="let payloadEntry of toFieldSet(event.task) index as j">
                  <div class="row">
                    <div class="col-lg-3">{{ payloadEntry.name | fieldName }}:</div>
                    <div class="col-lg-9" *ngIf="payloadEntry.type === 'scalar'">{{ payloadEntry.value }}</div>
                    <ng-container *ngIf="payloadEntry.type === 'complex'">
                      <div class="col-lg-9"></div>
                      <ng-container *ngFor="let innerPayloadEntry of payloadEntry.value">
                        <div class="col-lg-3 payloadEntryName">{{ innerPayloadEntry.name }}:</div>
                        <div class="col-lg-9">{{ innerPayloadEntry.value }}</div>
                      </ng-container>
                    </ng-container>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
