<div class="row">
  <div class="col-lg-12">
    <h1><img src="assets/holunda-io-logo.png" title="Tasks">Tasks</h1>
    <p>A list of tasks gathered by Camunda BPM Taskpool.</p>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <table class="table">
          <thead class="thead-light">
          <tr>
            <th>Process</th>
            <th>Name</th>
            <th>Description</th>
            <th>Created</th>
            <th>Prio</th>
            <th>&nbsp;</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let taskWithEntryData of tasks index as i">
            <td class="nowrap">{{ taskWithEntryData.task.processName }}</td>
            <td class="nowrap"><a href="{{ taskWithEntryData.task.url }}">{{ taskWithEntryData.task.name }}</a></td>
            <td>{{ taskWithEntryData.task.description }}</td>
            <td>{{ taskWithEntryData.task.createTime | date: 'mediumDate' }}</td>
            <td>{{ taskWithEntryData.task.priority }}</td>
            <td>
              <span *ngIf="taskWithEntryData.task.assignee"><i class="fa fa-user" title="{{ taskWithEntryData.task.assignee }}"></i>&nbsp;</span>
              <span *ngIf="taskWithEntryData.task.candidateUsers"><i class="fa fa-user-o" title="{{ taskWithEntryData.task.candidateUsers }}"></i>&nbsp;</span>
              <span *ngIf="taskWithEntryData.task.candidateGroups"><i class="fa fa-users" title="{{ taskWithEntryData.task.candidateGroups }}"></i></span>
            </td>
          </tr>
          <tr *ngIf="tasks.length === 0">
            <td colspan="6">No tasks</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer bg-transparent">
        <ngb-pagination class="d-flex justify-content-center"
          [collectionSize]="totalItems"
          [pageSize]="itemsPerPage"
          [(page)]="page"
          [maxSize]="7"
          [rotate]="true"
          (pageChange)="loadPage($event)"></ngb-pagination>
      </div>
    </div>
  </div>
</div>
