[data-md-color-scheme="polyflow"] {

  /*
   Polyflow color scheme
   */
  --monochrome-80: #3e3e3e;
  --background-white: #ffffff;
  --monochrome-70: #4c4c4c;
  --secondary-100: #ebf9fa;
  --background-blue: #0a0b31;
  --monochrome-20: #cccccc;
  --monochrome-50: #7f7f7f;
  --monochrome-5: #f2f2f2;
  --accent-success-100: #00cc75;
  --accent-error-100: #b3003e;
  --accent-error-10: #f2e0e6;
  --accent-4-100: #016db3;
  --accent-3-100: #830289;
  --pumpkin-orange: #fb7b00;
  --royal: #0d0f7e;
  --accent-1-100: #6bdce0;

  /*
   Material color customizations
   */
  --md-default-bg-color: var(--background-blue);
  --md-default-fg-color: var(--background-white);
  --md-default-fg-color--light: var(--monochrome-5);
  --md-default-fg-color--dark: var(--secondary-100);
  --md-accent-fg-color: var(--pumpkin-orange);
  --md-primary-fg-color: var(--background-blue);
  --md-footer-bg-color: var(--accent-4-100);
  --md-typeset-a-color: var(--accent-1-100);

/*
Code
*/
  --md-code-fg-color: hsla(var(--md-hue),18%,86%,1);
  --md-code-bg-color: var(--background-blue);
  --md-code-hl-color: var(--accent-4-100);
  --md-code-hl-number-color: var(--pumpkin-orange);
  --md-code-hl-special-color: #f06090;
  --md-code-hl-function-color: #c973d9;
  --md-code-hl-constant-color: #9383e2;
  --md-code-hl-keyword-color: #6791e0;
  --md-code-hl-string-color: #2fb170;
  --md-code-hl-name-color: var(--md-code-fg-color);
  --md-code-hl-operator-color: var(--md-default-fg-color--light);
  --md-code-hl-punctuation-color: var(--md-default-fg-color--light);
  --md-code-hl-comment-color: var(--md-default-fg-color--light);
  --md-code-hl-generic-color: var(--md-default-fg-color--light);
  --md-code-hl-variable-color: var(--md-default-fg-color--light);
}

/* Background of the page */
.md-main:before{
  background-image: url(../assets/img/bg.svg);
  background-size: 1840px 3200px;
  background-repeat: no-repeat;
  background-position: 50% 300px;
  z-index: -999;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Customize logo size */
.md-header__button.md-logo img, .md-header__button.md-logo svg {
  height: 100%;
  width: 100%;
}

/* Disable title text*/
.md-ellipsis {
  display: none;
}

/* Shift tabs to the right to align the text */
.md-tabs {
  margin-left: 250px;
}

/* more margins in the sidebar nav */
.md-nav {
  margin-top: 1rem;
  margin-left: 0.1rem;
}

/* sidebar nav colors */
.md-sidebar__scrollwrap {
  background-color: var(--md-footer-bg-color);
  background-image: linear-gradient(to bottom,var(--md-footer-bg-color) 0%,var(--md-default-bg-color) 100%);
}
.md-nav--integrated .md-nav__link[for=__toc]~.md-nav {
  border-left: .05rem solid var(--md-accent-fg-color);
}

/* footer */
.md-footer {
  background-image: linear-gradient(to right,var(--md-footer-bg-color) 0%,var(--md-default-bg-color) 100%);
}
.md-footer-meta {
  background-color: transparent;
}
