td.nowrap {
  white-space: nowrap;
}

.card-body {
  padding: 0
}

.data-block {
  padding-bottom: 0.5em;
}

.fieldlist {
  padding-left: 2em;
}

.fieldlist .list-group-item {
  padding-top: 0;
  padding-bottom: 0;
}
