<p>An archive of business objects processed by the process application (workpieces).</p>
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <table class="table">
          <thead class="thead-light">
          <tr>
            <th class="align-top" sortable-column="dataentry.type">Type</th>
            <th class="align-top" sortable-column="dataentry.name">Name</th>
            <th class="w-50 align-top">
              Details
              <div class="btn-group btn-group-toggle btn-group-sm pull-right" ngbRadioGroup name="dataTab"
                   [(ngModel)]="currentDataTab">
                <label ngbButtonLabel class="btn-outline-secondary btn-sm">
                  <input ngbButton type="radio" [value]="'description'">Description</label>
                <label ngbButtonLabel class="btn-outline-secondary btn-sm">
                  <input ngbButton type="radio" [value]="'data'">Data</label>
                <label ngbButtonLabel class="btn-outline-secondary btn-sm">
                  <input ngbButton type="radio" [value]="'protocol'">Audit</label>

              </div>
            </th>
            <th class="align-top" sortable-column="dataentry.currentStatusType">Status</th>
            <th colspan="2" class="align-top">
              Actions
              <div class="pull-right">
                <button type="button" name="refresh" class="btn btn-outline-secondary btn-sm " (click)="reload()"
                        title="Reload tasks">
                  <i class="fa fa-refresh"></i> Reload
                </button>
              </div>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let dataEntry of (dataEntries$ | async) index as i">
            <td class="nowrap">{{ dataEntry.type }}</td>
            <td class="nowrap"><a appExternalUrl [href]="dataEntry.url">{{ dataEntry.name }}</a></td>
            <td>
              <div *ngIf="currentDataTab === 'description'">
                {{ dataEntry.description }}
              </div>
              <div *ngIf="currentDataTab === 'data'">
                <div class="data-block">
                  <i class="fa fa-archive" aria-hidden="true"></i><i>&nbsp;Payload</i>
                  <ul class="list-group list-group-flush fieldlist">
                    <li class="list-group-item" *ngFor="let payloadEntry of toFieldSet(dataEntry.payload)">
                      <div class="row">
                        <div class="col-lg-3">{{ payloadEntry.name | fieldName }}:</div>
                        <div class="col-lg-9">{{ payloadEntry.value }}</div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div *ngIf="currentDataTab === 'protocol'">
                <div class="data-block">
                  <i class="fa fa-newspaper-o" aria-hidden="true"></i><i>&nbsp;Protocol</i>
                  <ul class="list-group list-group-flush fieldlist protocol">
                    <li class="list-group-item" *ngFor="let protocolEntry of dataEntry.protocol">
                      <div class="row">
                        <div class="col-lg-2">{{ protocolEntry.timestamp | date }}</div>
                        <div class="col-lg-2">{{ protocolEntry.user }}</div>
                        <div class="col-lg-2">{{ protocolEntry.stateType }}</div>
                        <div class="col-lg-2">{{ protocolEntry.state }}</div>
                        <div class="col-lg-4">{{ protocolEntry.log }}<br/>{{ protocolEntry.logDetails }}</div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </td>
            <td class="nowrap">{{ dataEntry.currentStateType }}<span
              *ngIf="dataEntry.currentState"> | {{ dataEntry.currentState }}</span></td>
            <td><!-- action --></td>
          </tr>
          <tr *ngIf="(dataEntries$ | async).length === 0">
            <td colspan="7">No business object</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer bg-transparent">
        <ngb-pagination class="d-flex justify-content-center pagination-sm"
                        [collectionSize]="totalItems"
                        [pageSize]="itemsPerPage"
                        [(page)]="page"
                        [maxSize]="7"
                        [rotate]="false"
                        (pageChange)="loadPage()"></ngb-pagination>
      </div>
    </div>
  </div>
</div>
