h1 img {
  height: 2em;
}

label {
  font-weight: bold;
}

.content {
  padding-left: 20px;
}

.payload, .buttons, .description {
  margin-top: 20px;
}

.payload label {
  border-bottom: 1px solid #000000;
}
