<div class="row">
  <div class="col-lg-12">
    <h1><img src="assets/holunda-io-logo.png" title="holunda logo">{{ task.name }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-9 content">
      <div class="container-fluid">
          <!-- FIXME: replace with request.component! -->
          <form #amendForm="ngForm" novalidate>
          <div class="row payload">
            <div class="col-lg-12"><h5>Approval Request</h5></div>

            <div class="col-lg-4"><label>Request ID:</label></div>
            <div class="col-lg-8">{{ submitData.approvalRequest.id }}</div>

            <div class="col-lg-4"><label>Applicant:</label></div>
            <div class="col-lg-8"><input type="text" required name="applicant" [(ngModel)]="submitData.approvalRequest.applicant" /></div>

            <div class="col-lg-4"><label>Subject:</label></div>
            <div class="col-lg-8"><input type="text" required name="subject" [(ngModel)]="submitData.approvalRequest.subject" /></div>

            <div class="col-lg-4"><label>Amount (Currency):</label></div>
            <div class="col-lg-8"><input type="text" required name="amount" [(ngModel)]="submitData.approvalRequest.amount" />&nbsp;
              <input type="text" required name="currency" [(ngModel)]="submitData.approvalRequest.currency" /></div>
          </div>
          </form>
          <div class="row form">
              <div class="col-lg-12 description">
                  <h6>{{ task.description }}</h6>
              </div>
              <div class="col-lg-12 description">

                  <input type="radio" required name="action" value="RESUBMIT" label="Resubmit request" [(ngModel)]="submitData.action">&nbsp;Re-submit request<br/>
                  <input type="radio" name="action" value="CANCEL" label="Reject request" [(ngModel)]="submitData.action">&nbsp;Cancel request<br/>

                  <div class="buttons">
                    <button [disabled]="!amendForm.valid" class="btn btn-primary" type="button" (click)="complete()">Complete</button>&nbsp;
                    <a appExternalUrl class="btn btn-secondary" role="button" [href]="environment.tasklistUrl">Cancel</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="col-lg-3 meta">
    <div class="container-fluid">
      <div class="row">
          <div class="col-lg-12"><h5>Metadata</h5></div>

          <div class="col-lg-4"><label class="text-only">Created at:</label></div>
          <div class="col-lg-8">{{ task.createTime | date: 'medium'}}</div>

          <div class="col-lg-4"><label class="text-only">Due at:</label></div>
          <div class="col-lg-8">{{ task.dueDate | date: 'mediumDate' }}</div>

          <div class="col-lg-4"><label class="text-only">Follow-up at:</label></div>
          <div class="col-lg-8">{{ task.followUpDate | date: 'mediumDate' }}</div>

          <div class="col-lg-4"><label class="text-only">Assignee:</label></div>
          <div class="col-lg-8">{{ task.assignee }}</div>

          <div class="col-lg-4"><label class="text-only">Priority:</label></div>
          <div class="col-lg-8">{{ task.priority }}</div>
      </div>
    </div>
  </div>
</div>
